<div class="jumbotron">
    <h1>Ikey+</h1>

    <p class="lead">
        Single access key generator
    </p>
    <form name="sddForm">
        <input type="file" ngf-select ng-model="sddFile" name="sddFile" required>

        {{sddFile.size}}
        <button class="btn btn-lg btn-success" type="submit"
                ng-click="main.submit(sddFile)">submit</button>
    </form>
</div>

<div class="row marketing">
    <h4>HTML5 Boilerplate</h4>

    <p>
        HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or
        sites.
    </p>

    <h4>Angular</h4>

    <p>
        AngularJS is a toolset for building the framework most suited to your application development.
    </p>

    <h4>Karma</h4>

    <p>Spectacular Test Runner for JavaScript.</p>
</div>
<div>
    <ul>
        <li>Service status: {{main.serviceInfo.status}}</li>
        <li ng-show="main.serviceInfo.version !== 'unknown'">Service version: {{main.serviceInfo.version}}</li>
    </ul>
</div>
