<div class="jumbotron">
    <h1>Ikey+</h1>

    <p class="lead">
        Single access key generator
    </p>

    <form name="sddForm">
        <input type="file" ngf-select ng-model="sddFile" name="sddFile" required>

        {{sddFile.size}}
        <button class="btn btn-lg btn-success" type="submit"
                ng-click="main.submit(sddFile)">submit
        </button>
    </form>
</div>

<form name="sddFormSimple" method="POST"
      enctype="multipart/form-data"
      action="http://localhost:8080/ikey-rest/upload/">
    <input type="file" name="sddFile">

    <button class="btn btn-lg btn-success" type="submit">
        submit
    </button>
</form>
<div>
    <ul>
        <li>Service status: {{main.serviceInfo.status}}</li>
        <li ng-show="main.serviceInfo.version !== 'unknown'">Service version: {{main.serviceInfo.version}}</li>
    </ul>
</div>
